@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <CultureSelector/>
                    <a href="logout" class="text-white">@Localizer["logout"]</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" ShowProgressBar="true"/>

@code {

    [Inject]
    public IStringLocalizer<Resource> Localizer { get; set; } = default!;

}